{% extends 'base.html' %}

{% block body %}
<div class="container">
<div class="card card-cascade wider reverse">

  <div class="view view-cascade overlay">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"
      alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <div class="card-body card-body-cascade text-center">
    <h4 class="card-title"><strong>Hipo Meals</strong></h4>
    <h6 class="font-weight-bold indigo-text py-2">Yasin Çalışkan</h6>
    <p class="card-text">Hey! I'm Yasin Çalışkan. I'm 4th grade computer engineering student and I'll graduate at June. I like learn and work on Web technologies.
        I'm using Python, Django/Django Rest Framework for backend and HTML&CSS, JavaScript, JQuery, ReactJS for frontend. I have learn something everyday and I try to use.
    </p>

    <a class="px-2 fa-lg li-ic" href="https://www.linkedin.com/in/yasincaliskan26/"><i class="fab fa-linkedin-in"></i></a>
    <a class="px-2 fa-lg fb-ic" href="https://github.com/yasincaliskan"><i class="fab fa-github"></i></a>

  </div>
</div>
</div>




{% endblock %}