{% extends 'base.html' %}

        {% block body %}
        {% for snack in snacks %}

<div class="container col-md-6">
<div class="card promoting-card">

  <div class="card-body d-flex flex-row">

    <div>

      <h4 class="card-title font-weight-bold mb-2"><i class="fas fa-utensils"></i>
          {{ snack.title }} - <small><i class="fas fa-user-alt"></i> {{ snack.user }}</small></h4>

      <p class="card-text">
          <i class="fas fa-sort-numeric-down"></i>
          Difficulty:
          {% if snack.difficulty == 1 %}
              Easy
          {% elif snack.difficulty == 2 %}
              Medium
          {% elif snack.difficulty == 3 %}
              Hard
          {%  endif %}
          <i class="far fa-clock pr-2"></i>{{ snack.publishing_date }}
      </p>


    </div>
  </div>

  <div class="view overlay">
    <img class="card-img-top rounded-0" src="{{ snack.image.url }}" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <div class="card-body">
        <p class="card-text">{{ snack.description|linebreaks|truncatechars:150 }}</p>
  </div>

<button type="button" class="btn btn-default" onclick="window.location.href = '{{snack.get_absolute_url}}';">Go Recipe</button>

</div>
</div>
<br>

{% endfor %}

<div class="container col-md-6">
<nav aria-label="Page navigation example">
    <ul class="pagination pg-blue">
        {% if snacks.has_previous %}
        <li class="page-item">
            <a href="?page={{ snacks.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">Previous</a>
        </li>
        {%  endif %}

        <li class="page-item active">
        <span class="page-link">
         {{ snacks.number }}
        </span>
        </li>
        {% if snacks.has_next %}
        <li class="page-item">
            <a href="?page={{ snacks.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">Next</a>
            <a href="?page={{ snacks.paginator.num_pages }}"></a>
            </li>
        {% endif %}
    </ul>
</nav>
</div>

    {%  endblock %}
