{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="{% static 'mdbootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'mdbootstrap/css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'mdbootstrap/css/style.css' %}" rel="stylesheet">


    <title>{% block title %} Hipo {% endblock %}</title>

</head>
<body>

    {% include 'header.html' %}<br>

    {% include 'messages.html' %}

    {% block body %}

    {% endblock %}<br>


    <script type="text/javascript" src="{% static 'mdbootstrap/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mdbootstrap/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mdbootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mdbootstrap/js/mdb.min.js' %}"></script>
</body>
</html>